:root {
  font-size: 15px;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #74b1f7;
  background-image: 
    radial-gradient(closest-side, rgb(77, 170, 228), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgb(155, 214, 240), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgb(149, 234, 246), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(136, 215, 239), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgb(102, 161, 244), rgba(248, 192, 147, 0));
  background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
}

body::after {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@keyframes movement {
  0%, 100% {
    background-size: 
      130vmax 130vmax,
      80vmax 80vmax,
      90vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }
  25% {
    background-size: 
      100vmax 100vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      60vmax 60vmax;
    background-position:
      -60vmax -90vmax,
      50vmax -40vmax,
      0vmax -20vmax,
      -40vmax -20vmax,
      40vmax 60vmax;
  }
  50% {
    background-size: 
      80vmax 80vmax,
      110vmax 110vmax,
      80vmax 80vmax,
      60vmax 60vmax,
      80vmax 80vmax;
    background-position:
      -50vmax -70vmax,
      40vmax -30vmax,
      10vmax 0vmax,
      20vmax 10vmax,
      30vmax 70vmax;
  }
  75% {
    background-size: 
      90vmax 90vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -50vmax -40vmax,
      50vmax -30vmax,
      20vmax 0vmax,
      -10vmax 10vmax,
      40vmax 60vmax;
  }
}
.login{
  z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    /* absolute居中的一种方法 */
    background-color: whitesmoke;
    width: 400px;
    height: 430px;
    border-radius: 25px;
    text-align: center;
    padding: 5px 40px;
    box-sizing: border-box;
}
.login .p1{
  font-size: 20px; 
  position: absolute; 
  left: 100px; 
  color: lightpink;
}
.login .p2{
  color: pink;
  position: relative; 
  top: 30px;
}
p{
    font-size: 42px;
    font-weight: 600;
}

input{
    background-color: whitesmoke;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    font-size: 22px;
}
.login .code{
  height:43px; 
  width: 200px; 
  position: relative; 
  top:-15px; 
  font-size:15px;
}
#canvas{
  width: 100px;
  height: 43px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn{
    background-color: pink;
    width: 38%;
    height: 48px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    color: white;
  margin-top: 0px;
}
.btn:hover{
    background-color: lightyellow;
  color: black;
}
a{
  text-decoration: underline;
  color: blue;
  position: fixed;
  font-size: 10px;
  top: 72%;
  left: 55%;
}
a:hover{
  color: red;
}